<div class="content-home-admin">

<admin-bar></admin-bar>

    <div class="home-box-admin">

      <div class="user-admin">
        <h2>Territories</h2>
        <div class="create-user pointer">Create new</div>
      </div>

    </div>

    <div class="container-fluid content-user">
      <div class="cols">
        <div>
          <div class="col-territories">
          <h1>Mexico</h1>
          <i class="fa fa-times-circle pointer"></i>
          </div>
          <div class="col-territories">
          <h1>Brasil</h1>
          <i class="fa fa-times-circle pointer"></i>
          </div>
          <div class="col-territories">
          <h1>SOCO</h1>
          <i class="fa fa-times-circle pointer"></i>
          </div>
          <div class="col-territories">
          <h1>Pacific</h1>
          <i class="fa fa-times-circle pointer"></i>
          </div>
          <div class="col-territories">
          <h1>Africa</h1>
          <i class="fa fa-times-circle pointer"></i>
          </div>
          <div class="col-territories">
          <h1>Southeast Asia</h1>
          <i class="fa fa-times-circle pointer"></i>
          </div>
        </div>


</div>
