<div class="map-buttons">
  <div class="content-map-block">
    <h1>{{title}}</h1>
  </div>
</div>

<div class="container-fluid content">
  <div class="cols">
    <div ng-repeat="item in cards | filterByTerr:terrFilter | filterByGenre:genreFilter | filterByStory:storylineFilter | filterByComm:communityFilter | filterByPos:positionFilter | filterByFn:functionFilter | customOrder:order| queryFilter:query">
      <div class="block-card">
        <card ng-click="open(item)" mycard="item" class="col-mediacard hide-text lupa"></card>
      </div>
    </div>
  </div>
</div>
<div class="cols">
  <div ng-repeat="item in cards | filterByTerr:terrFilter | filterByGenre:genreFilter | filterByStory:storylineFilter | filterByComm:communityFilter | filterByPos:positionFilter | filterByFn:functionFilter | customOrder:order| queryFilter:query">
    <div class="block-card">
      <full-card ng-click="open(item)" mycard="item" class="col-mediacard hide-text lupa"></full-card>
    </div>
  </div>
</div>
