.flag {
    display: inline-block;
    width: 30px !important;
    height: 20px !important;
    background: url('/images/flags.png') no-repeat;
    position: relative !important;
    background-size: 120px 80px;
}

.flag.flag-cl {
    background-position: -60px 0;
}

.flag.flag-ph {
    background-position: 0 -40px;
}

.flag.flag-kr {
    background-position: -30px -20px;
}

.flag.flag-mx {
    background-position: -60px -20px;
}

.flag.flag-in {
    background-position: -90px 0;
}

.flag.flag-soco {
    background-position: -60px -40px;
}

.flag.flag-sae {
    background-position: -90px -40px;
}

.flag.flag-br {
    background-position: -30px 0;
}

.flag.flag-ar {
    background-position: 0 0;
}

.flag.flag-th {
    background-position: 0 -60px;
}

.flag.flag-id {
    background-position: 0 -20px;
}

.flag.flag-pac {
    background-position: -90px -20px;
}

.flag.flag-sg {
    background-position: -30px -40px;
}
