<div class="map-arrange">
  <div class="content-block">
    <select-list list="territories"
                 model="terrFilter"
                 classes="'markets'">
    </select-list>
    <select-list list="genres"
                 model="genreFilter"
                 classes="'genre'">
    </select-list>
    <select-list list="storylines"
                 model="storylineFilter"
                 classes="'genre'">
    </select-list>
    <select-list list="communities"
                 model="communityFilter"
                 classes="'genre'">
    </select-list>

    <select-list list="functions"
                 model="functionFilter"
                 classes="'genre'">
    </select-list>
    <select-list list="orders"
                 model="order"
                 classes="'order'">
    </select-list>

    <div class="search"><input placeholder="Search" ng-model="query"><i class="fa fa-search"></i></div>
  </div>
</div>
