<div class="media-card"
     ng-class="{uno: card.rating == '1', 'dos': card.rating == '2', 'tres': card.rating == '3', 'cuatro': card.rating == '4', 'cinco': card.rating == '5', 'seis': card.rating == '6', 'siete': card.rating == '7', 'ocho': card.rating == '8', 'nueve': card.rating == '9', 'diez': card.rating == '10' }">
  <div class="profile-img" ng-style="{'background-image':card.img}">
    <div class="rating-value">
      {{card.rating}}
    </div>
    <div class="add-picture">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </div>
  </div>
  <div class="data-list">
    <div class="name">{{card.name}}</div>
    <div>{{card.medias | joinArray}}</div>
    <div>{{card.positions | joinArray}}</div>
    <div>{{card.genres | joinArray}}</div>
    <div>
        <img ng-repeat="item in card.territories" src="blank.gif" class="flag {{getFlag(item)}}" alt="{{item}}" />
        <p>{{card.territories | joinArray}}</p>
    </div>
    <div>{{card.email}}</div>
  </div>
  <div class="social row">
    <div class="col-md-4"><i class="fa fa-instagram"></i>{{card.instagram}}</div>
    <div class="col-md-4"><i class="fa fa-facebook"></i>{{card.facebook}}</div>
    <div class="col-md-4"><i class="fa fa-twitter"></i>{{card.twitter}}</div>
  </div>
  <div class="tags-box">
    <h1>Storylines</h1>
    <div class="tags row">
      <div class="col-md-4" ng-repeat="s in card.story_angles">
        <div class="tag">{{s}}</div>
      </div>
    </div>
  </div>
</div>
