<div class="social-click" ng-controller="SocialClickController">
  <button ng-if="card.instagramlink" ng-click="openTab('instagram')"><i class="fa fa-instagram"></i></button>
  <button ng-if="card.facebooklink" ng-click="openTab('facebook')"><i class="fa fa-facebook"></i></button>
  <button ng-if="card.twitterlink" ng-click="openTab('twitter')"><i class="fa fa-twitter"></i></button>
</div>
<div class="media-card"
     ng-class="{uno: card.rating <= 3, cinco: card.rating > 3 && card.rating < 7, diez: card.rating >= 7 }">
  <div class="profile-img">
    <img class="img-profile" ng-src="{{card.img}}">
    <div class="rating-value">
      {{card.rating}}
    </div>
  </div>
  <div class="data-list">
    <div class="name"><p>{{card.name}}</p></div>
    <div><p>{{card.medias | joinArray}}</p></div>
    <div><p>{{card.positions | joinArray}}</p></div>
    <div><p>{{card.genres | joinArray}}</p></div>
    <div><p>{{card.communities | joinArray}}</p></div>
    <div><p>{{card.functions | joinArray}}</p></div>
    <div>
        <img ng-repeat="item in card.territories" src="blank.gif" class="flag {{getFlag(item)}}" alt="{{item}}" />
        <p class="inline-box">{{card.territories | joinArray}}</p>
    </div>
    <div><p>{{card.email || 'N/A'}}</p></div>
    <div><p><a href="{{card.website}}">{{card.website || 'N/A'}}</a></p></div>

  </div>
  <div class="social row">
    <div class="col-md-4"><a href="https://www.instagram.com/{{card.instagramlink}}" target="_blank"><i class="fa fa-instagram"></i>{{numberToK(card.instagram) || 'N/A'}}</a></div>
    <div class="col-md-4"><a href="https://www.facebook.com/{{card.facebooklink}}" target="_blank"><i class="fa fa-facebook"></i>{{numberToK(card.facebook) || 'N/A'}}</a></div>
    <div class="col-md-4"><a href="https://www.twitter.com/{{card.twitterlink}}" target="_blank"><i class="fa fa-twitter"></i>{{numberToK(card.twitter) || 'N/A'}}</a></div>
  </div>
  <div class="data-personal">
    <div>{{card.personal_interests | joinArray}}</div>
  </div>
  <div class="tags-box">
    <h1>Initiatives</h1>
    <div class="tags row">
      <div class="col-md-4" ng-repeat="s in card.storylines">
        <div class="tag">{{s}}</div>
      </div>
    </div>
  </div>
  <div class="notes-box">
    <h1>Notes:</h1>
        <div>{{card.notes}}</div>
  </div>
  <div class="pdf-to-share">
    <button ng-click="download()">DOWNLOAD PROFILE</button>
    <button ng-click="share()">SHARE PROFILE</button>
  </div>
  <div ng-show="toggle" class="email-list">
    <form name="shareForm">
        <input type="text" ng-model="emailList" name="emailList" ng-pattern="/^(\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]{2,4}\s*?,?\s*?)+$/" />
        <button ng-click="shareForm.$valid && send()">SEND</button>
       <span class="error" ng-show='shareForm.$dirty'>
            Emails must be all in valid format and separated by coma with no spaces.
        </span>
     </form>
  </div>
</div>
<div ng-switch="moduleState" class="module-state">
<div class="social-card" ng-switch-when="social">
  <div class="toolbar">
    <!-- <div class="pdf-to-share">
      <button ng-click="download()">DOWNLOAD PROFILE</button>
      <button ng-click="share()">SHARE PROFILE</button>
    </div>
    <div ng-show="toggle" class="social email-list">
      <form name="shareForm2">
          <input type="text" ng-model="emailList" name="emailList" ng-pattern="/^(\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]{2,4}\s*?,?\s*?)+$/" />
          <button ng-click="shareForm2.$valid && send()">SEND</button>
         <span class="error" ng-show='shareForm2.$dirty'>
              Emails must be all in valid format and separated by coma with no spaces.
          </span>
       </form>
    </div> -->
  </div>
  <div ng-switch="socialState" class="social-state">
    <div class="instagram" ng-switch-when="instagram">
        <img class="img-logo" src="/images/instagram_logo.png" alt="Instagram" />
        <section class="profile">
          <div class="photo">
            <img src="{{instagram.profile_pic_url}}"/>
          </div>
          <div class="info">
            <div>
              <a href="https://www.instagram.com/{{card.instagramlink}}" target="_blank">{{card.instagramlink}}</a>
            </div>
            <div>
              <span><strong>{{numberToK(instagram.media.count)}}</strong> posts</span><span><strong>{{numberToK(instagram.followed_by.count)}}</strong> followers</span><span><strong>{{numberToK(instagram.follows.count)}}</strong> following</span>
            </div>
            <div>
              {{instagram.biography}}
            </div>
          </div>
        </section>
        <section class="s-search" id="instagramsearch">
          <div ng-switch="searchState">
          <div ng-switch-when="search" class="s-container">
            <img class="s-ico" src="/images/search_icon.png" alt="Search"/>
            From:
            <div class="d-container">
              <i class ="fa fa-calendar s-calendar"></i>
              <div class="datepicker" date-format="yyyy-MM-dd">
                <input type="text" ng-model="search.from"/>
              </div>
            </div>
            To:
            <div class="d-container">
              <i class ="fa fa-calendar s-calendar"></i>
              <div class="datepicker" date-format="yyyy-MM-dd">
                <input type="text" ng-model="search.to" />
              </div>
            </div>
            <button ng-click="searchClick()">SEARCH</button>
            <input type="text" ng-model="search.tags" class="s-tags" />
          </div>
          <div ng-switch-when="results" class="results">
                <h4>
                  MOST USED #
                </h4>
                <div class="s-line2 col-sm-12">
                  <div class="col-sm-3">
                    From: <span>{{search.from}}</span>
                  </div>
                  <div class="col-sm-3">
                    To: <span>{{search.to}}</span>
                  </div>
                  <div class="col-sm-6">
                    {{search.tags}}
                  </div>
                </div>
                <div class="col-sm-6 summary">
                  Posts: {{numberToK(search.summary.count)}} Likes: {{numberToK(search.summary.likes)}} Comments: {{numberToK(search.summary.comments)}}
                </div>
            </div>
          </div>
        </section>
        <section class="feed pre-scrollable">
          <h5>
            LIVE FEED
          </h5>
          <div class="feed-container">
            <article ng-repeat="item in instagram.media.nodes">
              <img src="{{item.thumbnail_src}}"/>
              <span>{{numberToK(item.likes.count)}} likes</span>
              <p><strong>{{instagram.username}}</strong>&nbsp;{{item.caption}}</p>
            </article>
          </div>
        </section>
    </div>
    <div class="facebook" ng-switch-when="facebook">
        <img class="img-logo" src="/images/facebook.png" alt="Facebook" />
        <section class="profile">
          <div class="photo">
            <img src="{{facebook.picture.data.url}}" width="170px"/>
          </div>
          <div class="info">
            <div class="face-flex">
              <div>
                <h3>
                  {{facebook.name}}
                </h3>
                <p>
                  <a href="https://www.facebook.com/{{card.facebooklink}}" target="_blank">@{{card.facebooklink}}</a>
                </p>
              </div>
              <div>
                <span>{{facebook.engagement.social_sentence}} And {{numberToK(card.facebook)}} people follow this.</span>
              </div>
            </div>

            <div>
               {{facebook.about}}
            </div>
          </div>
        </section>
        <section class="s-search" id="facebooksearch">
          <div ng-switch="searchState">
          <div ng-switch-when="search" class="s-container">
           <img class="s-ico" alt="Search"/>
           <!-- From:
            <div class="d-container">
              <i class ="fa fa-calendar s-calendar"></i>
              <div class="datepicker" date-format="yyyy-MM-dd">
                <input type="text" ng-model="from"/>
              </div>
            </div>
            To:
            <div class="d-container">
              <i class ="fa fa-calendar s-calendar"></i>
              <div class="datepicker" date-format="yyyy-MM-dd">
                <input type="text" ng-model="to" />
              </div>
            </div> -->
            <input type="text" ng-model="search.message" class="s-tags"/>
            <button ng-click="searchClick()">SEARCH</button>
          </div>
          <div ng-switch-when="results" class="results">
                <h4>
                  MOST USED #
                </h4>
                <div class="s-line2 col-sm-12">
                  <div class="col-sm-3">
                    From: <span>{{search.from}}</span>
                  </div>
                  <div class="col-sm-3">
                    To: <span>{{search.to}}</span>
                  </div>
                  <div class="col-sm-6">
                    {{search.message}}
                  </div>
                </div>
                <div class="col-sm-6 summary">
                  Posts: {{numberToK(search.summary.count)}} Likes: {{numberToK(search.summary.likes)}} Comments: {{numberToK(search.summary.comments)}}
                </div>
            </div>
          </div>
        </section>
        <section class="feed pre-scrollable">
          <div class="feed-container">
            <article ng-repeat="item in feed | filter:search.message">
              <img src="{{item.attachments.data[0].media.image.src}}" />
              <span>{{item.likes.summary.total_count}} likes</span>
              <p class="description">{{item.attachments.data[0].description}}</p>
              <p>{{item.message}}</p>
            </article>
          </div>
        </section>
    </div>
    <div class="twitter" ng-switch-when="twitter">
        <img class="img-logo" src="/images/twitter_logo.png" alt="Twitter" />
        <section class="profile">
          <div class="photo">
            <img src="{{twitter.profile_image_url}}" width="150px"/>
          </div>
          <div class="info">
            <div>
                <h3>
                  {{twitter.name}}
                </h3>
                <p>
                  <a href="https://www.twitter.com/{{card.twitterlink}}" target="_blank">@{{card.twitterlink}}</a>
                </p>
            </div>
            <div>
               <table>
                 <thead>
                   <th>TWEETS</th>
                   <th>FOLLOWING</th>
                   <th>FOLLOWERS</th>
                   <th>LIKES</th>
                 </thead>
                 <tbody>
                   <tr>
                     <td>{{numberToK(twitter.statuses_count)}}</td>
                     <td>{{numberToK(twitter.friends_count)}}</td>
                     <td>{{numberToK(twitter.followers_count)}}</td>
                     <td>{{numberToK(twitter.favourites_count)}}</td>
                   </tr>
                 </tbody>
              </table>
            </div>
          </div>
        </section>
        <section class="s-search" id="twittersearch">
          <div ng-switch="searchState">
          <div ng-switch-when="search" class="s-container">
            <img class="s-ico" alt="Search" />
            From:
            <div class="d-container">
              <i class ="fa fa-calendar s-calendar"></i>
              <div class="datepicker" date-format="yyyy-MM-dd">
                <input type="text" ng-model="from"/>
              </div>
            </div>
            To:
            <div class="d-container">
              <i class ="fa fa-calendar s-calendar"></i>
              <div class="datepicker" date-format="yyyy-MM-dd">
                <input type="text" ng-model="to" />
              </div>
            </div>
            <button ng-click="searchClick()">SEARCH</button>
            <input type="text" ng-model="tags" class="s-tags"/>
          </div>
          <div ng-switch-when="results" class="results">
                <h4>
                  MOST USED #
                </h4>
                <div class="s-line2 col-sm-12">
                  <div class="col-sm-3">
                    From: <span>{{search.from}}</span>
                  </div>
                  <div class="col-sm-3">
                    To: <span>{{search.to}}</span>
                  </div>
                  <div class="col-sm-6">
                    {{search.tags}}
                  </div>
                </div>
                <div class="col-sm-6 summary">
                  Posts: {{numberToK(search.summary.count)}} Likes: {{numberToK(search.summary.likes)}} Comments: {{numberToK(search.summary.comments)}}
                </div>
            </div>
          </div>
        </section>
        <section class="feed pre-scrollable">
          <div class="feed-container">
            <article ng-repeat="item in feed">
              <!-- <span>{{item.favorite_count}} favorited</span> -->
              <p><strong>{{twitter.name}}</strong>&nbsp;{{item.text}}</p>
              <img src="{{item.entities.media[0].media_url}}"/>
            </article>
          </div>
        </section>
    </div>
  </div>
</div>
</div>
