<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EM Connect and Influence Mapping</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.css" />
    <link rel="stylesheet" href="bower_components/angular-tagger/build/angular-tagger.css" />
    <link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.css" />
    <link rel="stylesheet" href="bower_components/angular-notify/dist/angular-notify.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/ng-scrollbar/dist/ng-scrollbar.css" />
    <link rel="stylesheet" href="bower_components/angularjs-datepicker/dist/angular-datepicker.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/font-awesome.css">
    <link rel="stylesheet" href="styles/flags.css">
    <!-- endbuild -->
  </head>
  <body ng-app="mediamapApp">
    <div id="fb-root"></div>
    <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-controller="NavigationCtrl" class="header">
      <div class="nav-black">
        <svg class="logo" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="135.5 361.375 200 72" overflow="visible" enable-background="new 135.5 361.375 200 72" xml:space="preserve">
          <path id="logo" d="M159.23,431.966c-5.84-0.232-10.618-1.83-14.354-4.798c-0.713-0.567-2.412-2.267-2.982-2.984  c-1.515-1.905-2.545-3.759-3.232-5.816c-2.114-6.332-1.026-14.641,3.112-23.76c3.543-7.807,9.01-15.55,18.548-26.274  c1.405-1.578,5.589-6.193,5.616-6.193c0.01,0-0.218,0.395-0.505,0.876c-2.48,4.154-4.602,9.047-5.758,13.283  c-1.857,6.797-1.633,12.63,0.656,17.153c1.579,3.116,4.286,5.815,7.33,7.307c5.329,2.611,13.131,2.827,22.659,0.632  c0.656-0.152,33.162-8.781,72.236-19.176c39.074-10.396,71.049-18.895,71.054-18.888c0.011,0.009-90.78,38.859-137.911,59.014  c-7.464,3.191-9.46,3.997-12.969,5.229C173.76,430.721,165.725,432.224,159.23,431.966z"/>
        </svg>
        <h1 class="nike"><a href="/#/">EM Connect and Influence Mapping</a></h1>

        <div class="nav-main-menu">
            <ul>
                <li>
                    <h3>MEDIA MAPS</h3>
                    <ul>
                        <li><div class="title-section pointer ng-click-active" ng-click="goMyMaps()">My maps</div></li>
                        <li><div class="title-section pointer" ng-click="goPublicMaps()">Public maps</div> </li>
                        <li><div class="title-section pointer" ng-click="goCreateMap()">Create new map</div> </li>
                    </ul>
                </li>
                <li>
                    <h3>MEDIA PROFILES</h3>
                    <ul>
                        <li><div class="title-section pointer ng-click-active" ng-click="goCreateProfile()">Create new profile</div> </li>
                        <li><div class="title-section pointer" ng-click="goCards()">View/Edit profiles</div></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="name-user pointer">
          <h3>{{user.username}}</h3>
         <div class="admin-photo"><img ng-src="{{user.img || '../images/user.svg'}}"></div>
          <div class="menu-admin">
            <div ng-if="user.admin" class="edit-profile">
              <a href="/#/home-admin">Admin</a>
            </div>
            <div class="log-out">
              <a href="/logout">Log Out</a>
            </div>
          </div>
        </div>


      </div>
    </div>


    <div ng-view="" class="content-box"></div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
     !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
                              r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
     }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-XXXXX-X');
     ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
    <script src="bower_components/angular-tagger/build/angular-tagger.js"></script>
    <script src="bower_components/ng-sortable/dist/ng-sortable.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-notify/dist/angular-notify.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/zeroclipboard/dist/ZeroClipboard.js"></script>
    <script src="bower_components/ng-clip/src/ngClip.js"></script>
    <script src="bower_components/ng-scrollbar/dist/ng-scrollbar.js"></script>
    <script src="bower_components/angularjs-datepicker/dist/angular-datepicker.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/card.js"></script>
    <script src="scripts/services/api.js"></script>
    <script src="scripts/services/instagram.js"></script>
    <script src="scripts/services/facebook.js"></script>
    <script src="scripts/services/twitter.js"></script>
    <script src="scripts/controllers/createProfile.js"></script>
    <script src="scripts/directives/onlyWords.js"></script>
    <script src="scripts/directives/onlynumbers.js"></script>
    <script src="scripts/controllers/editprofile.js"></script>
    <script src="scripts/directives/cardname.js"></script>
    <script src="scripts/directives/cardemail.js"></script>
    <script src="scripts/controllers/fullcard.js"></script>
    <script src="scripts/controllers/socialclickcontroller.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <script src="scripts/controllers/selectList.js"></script>
    <script src="scripts/controllers/arrangebar.js"></script>
    <script src="scripts/filters/filterbygenre.js"></script>
    <script src="scripts/filters/filterbyterr.js"></script>
    <script src="scripts/filters/filterbystoryline.js "></script>
    <script src="scripts/filters/filterByCommunity.js "></script>
    <script src="scripts/filters/filterByFunction.js "></script>
    <script src="scripts/controllers/mymaps.js"></script>
    <script src="scripts/controllers/publicmaps.js"></script>
    <script src="scripts/controllers/map.js"></script>
    <script src="scripts/filters/filterbypos.js"></script>
    <script src="scripts/directives/filemodel.js"></script>
    <script src="scripts/services/filereader.js"></script>
    <script src="scripts/filters/customorder.js"></script>
    <script src="scripts/filters/orderButAll.js"></script>
    <script src="scripts/filters/queryfilter.js"></script>
    <script src="scripts/controllers/edituser.js"></script>
    <script src="scripts/controllers/users.js"></script>
    <script src="scripts/controllers/catalogo.js"></script>
    <script src="scripts/directives/compareto.js"></script>
    <script src="scripts/directives/adminuser.js"></script>
    <script src="scripts/directives/catalogounique.js"></script>
    <!-- endbuild -->
  </body>
</html>
